.dialogContainer {
    background: linear-gradient(180deg, rgba(243, 243, 243, 0.7) 0%, rgba(235, 235, 235, 0.7) 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    max-width: 400px;
    // height: 100px;
    padding: 1rem;
    color: #949494;
    z-index: 100000;
    // opacity: 100%;
    backdrop-filter: blur(5px);
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 10px;
}

.darkMode {
    background: linear-gradient(180deg, rgba(82, 122, 113, 0.85) 0%, rgba(69, 86, 82, 0.85) 100%);
    color: var(--lightest-aqua);

}



