.settingsContainer {
    max-width: 90vw;
    max-height: 90vh;
    padding: 1em;
    background: radial-gradient(56.41% 56.41% at 47.13% 43.59%, rgba(253, 253, 253, 0.70) 0%, rgba(241, 241, 241, 0.70) 100%);
    border-radius: 15px;
    opacity: 95%;
    // backdrop-filter: blur(5px);
    transition: opacity 0.2s ease-out;
    transition: background 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);


      


    li {
        color: #949494;
    }


    ul.optionsList {
        display: flex;
        flex-direction: column;
        justify-content: space-around;


        // border: 1px solid black;

        &>li {
            margin: 5px 2px;
        }

        li.darkModeOption {
            // border: 1px solid black;
            display: flex;
            span {
                margin-left: .2em;
            }

        }
        
        li.layoutSettingContainer {
            // border: 1px solid black;
            display: flex;
            flex-direction: column;

            span {
                text-align: center;
            }
            ul.layoutModes {
                display: flex;
                // border: 1px solid black;

                li {
                    // border: 1px solid black;
                    margin: 3px 3px;
                    transition: 0.5s;
                    width: 32px;
                    height: 28px;

                    &:hover {
                    filter: drop-shadow(0px 0px 5px rgba(82, 233, 197, 0.5));
                    }

                    &.currentLayout {
                        filter: brightness(0) saturate(100%) invert(80%) sepia(75%) saturate(384%) hue-rotate(97deg) brightness(100%) contrast(83%);
                    }
                }

            }
        }
    }
}


.darkMode {
    background: radial-gradient(56.41% 56.41% at 47.13% 43.59%, rgba(82, 122, 113, 0.95) 0%, rgba(69, 86, 82, 0.95) 100%);
    transition: 0.3s;

    li {
        color: var(--lightest-aqua);
        transition: 0.3s;

    }

}