.hideTabMenu {
    opacity: 0%;
    pointer-events: none;
    transition: opacity 0.2s ease-out;
}

.showTabMenu {
    opacity: 95%;
    transition: opacity 0.2s ease-out;
    z-index: 10000;
    position: relative;
}

.container {
    background: var(--primary-color);
    position: fixed;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    color: var(--lightest-aqua);
    z-index: 999;

    .tab {
        // border: 1px solid black;
        // height: 100%;
        display: flex;
        position: relative;
        padding: 0px 18px;
        span {
            text-align: center;
            max-width: Calc(100vw - 170px);
            text-overflow: ellipsis;
            overflow: hidden;
            height: 1em;
        }

        .edit {
            position: absolute;
            right: 0px;
            opacity: 50%;
            cursor: pointer;

    
            display: none;
        }

        .tabInput {
            background: none;
            color: var(--lightest-aqua);
            width: Calc(100vw - 170px);
            text-align: center;

            &:focus {
                outline: none;
            }
        }

        &:hover {
            .edit {
                display: block;
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .container {
        height: 60px;
        padding: 0;
        justify-content: unset;
        
        ul.tabsList {
            // border: 1px solid yellow;
            margin-left: 80px;
            align-self: flex-end;
            height: 100%;
            max-width: Calc(80vw);
            display: flex;
            overflow: auto;

            .desktopTab {
                // border: 1px solid #949494;
                height: 100%;
                min-width: 100px;
                width: 150px;
                max-width: 150px;
                background: #AFF6E5;
                display: flex;
                align-items: flex-end;
                border-right: 0.5px solid rgba(0, 0, 0, 0.1);
                padding: 0 0 0.2em 0.5em;

    
                span {
                    color: #949494;
                    font-size: 1.4em;
                }
            }
    
            .desktopCurrent {
                background: #84F3D9;
                span {
                    color: var(--lightest-aqua);
                }
            }

        }
        .newTabWrapper {
            margin-left: .5em;
            display: flex;
            align-items: center;
        }

        
    }
}