.tabsContainer {
    max-height: calc(85vh - 75px);
    width: 90vw;
    background: purple;
    margin-left: 5vw;
    z-index: 999;
    position: fixed;
    top: 75px;
    border-radius: 15px;
    background: radial-gradient(56.41% 56.41% at 47.13% 43.59%, rgba(253, 253, 253, 0.95) 0%, rgba(241, 241, 241, 0.95) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: 1px solid black;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        // height: 50%;
        overflow: auto;
        margin-top: 1em;


        li {
            background: var(--lightest-aqua);
            width: 90%;
            min-height: 40px;
            margin-top: .5em;
            color: #949494;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3em;
            // border: 1px solid hsla(0, 0%, 0%, 0.10);
            border-radius: 15px;
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.15));
            opacity: 95%;
            margin-bottom: .3em;
            position: relative;

            .tabClickSurface {
                position: absolute;
                // border: 1px solid black;
                width: 100%;
                min-height: 40px;
                border-radius: 15px;
            }

            &.current {
                background: var(--primary-color);
                color: var(--lightest-aqua);
            }

            .deleteTabWrapper {
                position: absolute;
                right: 15px;
                opacity: 40%;
                // border: 1px solid black;
            }
        }
    }

    .newTabWrapper {
        align-self: center;
        filter: brightness(0) saturate(100%) invert(71%) sepia(78%) saturate(291%) hue-rotate(112deg) brightness(95%) contrast(102%);
        margin-bottom: 5px;
        margin-top: 1em;
    }



}
