.container {
    height: 100vh;
    width: 100vw;
    position: relative;


    .tabs {
        height: 50px;
        z-index: 999999;
    }


    .settingsWrap {
        position: fixed;
        bottom: .5em;
        left: .5em;
        cursor: pointer;
    }

    .hideSettingsPanel {
        position: fixed;
        bottom: 40px;
        left: 30px;
        opacity: 0%;
        pointer-events: none;
        transition: opacity 0.2s ease-out;
        z-index: 500;
    }
    

    .settingsPanelWrapper {
        position: fixed;
        bottom: 40px;
        left: 30px;
        z-index: 100;
        opacity: 95%;
        transition: opacity 0.2s ease-out;
        z-index: 500;
    }

    .newCardWrap {
        position: fixed;
        bottom: .5em;
        right: 1em;
        cursor: pointer;

    }

    .cardContainer {
            margin-left: 50px;
            height: calc(100vh - 50px);
        .card {
            margin: 1em;
        }
    }

}