.container {
    height: 100vh;
    width: 100vw;
    position: relative;


    .tabs {
        height: 50px;
    }


    .settingsWrap {
        position: fixed;
        bottom: .5em;
        left: .5em;
        cursor: pointer;
    }

    .newCardWrap {
        position: fixed;
        bottom: .5em;
        right: 1em;
        cursor: pointer;

    }

    .cardContainer {
            margin-left: 50px;
            height: calc(100vh - 50px);
        .card {
            margin: 1em;
        }
    }

}