.bigText {
    color: orange;
    font-weight: bold;
    font-size: 10rem;
}

.container {
    width: 100vw;
    height: 100vh;
}

.center {
    display: flex;
    width: 100vw;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
}