
// .container {
//     width: 100vw;
//     height: 100vh;
// }

.center {
    display: flex;
    width: 100vw;
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow: hidden;


    align-items: center;
    flex-direction: column;
    position: relative;
}

.heroSection {
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow: hidden;
    

}


.waveSvg {
    z-index: -3;
    position: absolute;
    bottom: 0;
}

.launchBtn {
    position: absolute;
    bottom: 30px;
}

@media screen and (min-width: 768px) {
    .center {
        height: calc(100vh - 100px);
        max-height: calc(100vh - 100px);
    }

    .heroSection {
        height: calc(100vh - 100px);
        max-height: calc(100vh - 100px);
    }
}