@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap');
//font-family: 'Noto Sans TC', sans-serif;

// .container {
//     width: 80vw;
//     height: 100vh;
// }


.heroSection {
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow: hidden;

    // * {
        // border: 1px solid black;
    // }
    
    
}
.heroContainer {
    display: flex;
    width: 100vw;
    // height: 100vh;
    height: calc(100vh - 80px);
    // max-height: calc(100vh - 80px);
    // overflow: hidden;


    align-items: center;
    flex-direction: column;
    position: relative;

    .heading {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 25%;
        width: 100%;
        // border: 1px solid black;
        // width: 50%;
    }
    
    .heroImg {
        display: flex;
        justify-content: center;
        // align-items: center;
        width: 100%;
        height: 50%;
        // border: 1px solid red;
        padding: 3em;
        // display: none;


    }
    
    .launchBtn {
        position: absolute;
        bottom: 2.5vh;
        // justify-self: flex-end;
        // align-self: center;
    }
}


.waveSvg {
    z-index: -3;
    position: absolute;
    bottom: 0px;
    // border: 1px solid black;

}

// tablet
@media screen and (min-width: 768px) {
    .heroSection {
        height: calc(100vh - 100px);
        max-height: calc(100vh - 100px);
    }

    
    .heroContainer {
        height: calc(100vh - 100px);
        max-height: calc(100vh - 100px);

        .heroImg {
            display: flex;
            // justify-content: center;
            // align-items: center;
            width: 100%;
            height: 65%;
            // border: 1px solid red;
            padding: 3em;
        }
    }
}

// comp and up
@media screen and (min-width: 1080px) {

    .heroContainer {
        // background: orange;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 95vh;
        grid-template-areas: 
            "text sprite";

        // justify-content: center;


        .heroImg {
            // border: 1px solid orange;
            grid-area: sprite;
            align-self: center;
            display: flex;
            justify-content: flex-start;
        }

        .heading {
            // border: 1px solid red;
            grid-area: text;
            align-self: center;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20em;
        }
    }



}


.featuresSection {
    div.container {
        background: var(--primary-color);
        height: 100vh;
        width: 100vw;
        border-top: 1px solid transparent; //fixes whitespace bug
        // border: 1px solid black;
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-family: 'Noto Sans TC', sans-serif;
        color: var(--lightest-aqua);
        font-size: 7.5vh;
        font-weight: bold;
        text-align: center;
        padding: 0;
        margin-top: 3vh;
    }

    ul {
        // border: 1px solid orange;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // height: calc(100vh - 30.5vh);
        // height: 80%;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        color: var(--lightest-aqua);
        font-size: 4vh;
        margin-bottom: 5%;
        flex: 1 1 100%;

        li {
            margin: 0;
            padding: 0;
            position: relative;


            &:before {
                content: "";
                position: absolute;
                left: auto;
                width: 40px;
                height: 40px;
                background-image: url('../public/img/index/check.svg');
                background-size: contain;
                margin-left: -1.5em;
            }
        }
    }


}


.contactSection {
    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        // border: 1px solid black;

        h1 {
            color: var(--primary-color);
            font-size: 7.5vh;
            font-family: 'Noto Sans TC', sans-serif;
            font-weight: bold;
            word-spacing: 500em;
            text-align: center;
            margin: 0;
            padding: 0;
            padding-top: 3vh;
            line-height: 1em;
            // height: 25%;
            // border: 1px solid black;
        }

        p {
            // border: 1px solid black;
            text-align: center;
            font-size: 3vh;
            color: #949494;
            width: 100%;
            margin: 0;
            padding: 0 1em;
            flex: 1 1 100%;
            display: flex;
            align-items: center;
        

        }

        .formWrapper {
            height: 100%;
            width: 75%;
            margin-bottom: 3vh;
            // flex-basis: 1200px
        }
    }









    @media screen and (min-width: 768px) {
        .container {

            h1 {
                line-height: normal;
                word-spacing: normal;
            }

            p {
                padding: 0;
            }

        }
    }
    
}


